<% provide :page_title, construct_page_title( t('.header', type_title:  @collection.collection_type.title) ) %>
<% provide :page_header do %>
  <% a_title = t(:'hyrax.dashboard.collections.new.header') + " " + @collection.collection_type.title %>
  <h1><span class="fa fa-edit"></span> <%= a_title %> </h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>


#t(:'hyrax.dashboard.collections.new.header') + " " + @collection.collection_type.title
